.header {
  padding: 93px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 40px;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 4px;
}

.header__menu {
  width: 391px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-bottom: 5px;
}

.header__links-list {
  justify-self: start;
  display: flex;
  justify-content: space-evenly;
  list-style: circle;
  white-space: nowrap;
  gap: 28px;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.header__link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 25%;
  text-decoration-thickness: 5%;
  line-height: 120%;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  padding-left: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0px;
}

.header__logo {
  width: 135px;
  padding-right: 0px;
}

.header__address {
  justify-self: end;
}

.address {
  flex-direction: column;
  gap: 0px;
  line-height: 140%;
  font-style: normal;
  max-width: 240px;
}

.address-item {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 25%;
  text-decoration-thickness: 5%;
}

.address-item-no-underline {
  text-decoration: none;
}

.cover {
  padding: 50px 20px 50px 50px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: bottom 0px left -135px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.overlay {
  background-color: rgb(0 0 0 /0.6);
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cover__title {
  inset: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 67%;
  letter-spacing: 30px;
  padding-top: 145px;
  padding-left: 0px;
  padding-bottom: 30px;
  padding-right: 0px;
  display: flex;
  gap: 65px;
  flex-direction: column;
  justify-content: space-between;
}

.aligned-text {
  display: block;
  text-align: start;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: end;
}

.cover__description {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  z-index: 2;
  word-spacing: 18.5px;
  display: flex;
  padding-top: 100px;
  padding-right: 28px;
  justify-content: space-between;
  align-items: center;
}

.bet-button {
  padding: 12px 35px 11px 32px;
  border: 1px solid white;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
}

.lots {
  padding: 183px 24px 50px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 31px;
}

.lots__card-list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 33px;
}

.card {
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 50px 40px;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 118%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 12%;
  text-decoration-thickness: 5%;
  color: white;
  width: 254px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: white;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
  padding-left: 40px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 12%;
  text-decoration-thickness: 5%;
}

.about {
  padding: 105px 24px 105px;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 7px 25px;
  grid-template-areas:
    "logo header"
    ". paragraph"
    ". paragraph";
}

.about__logo {
  background-color: black;
  height: 240px;
  width: 240px;
  justify-self: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}

.about__logo-image {
  height: 114px;
  width: 148px;
  position: relative;
}

.about__title {
  grid-area: header;
  place-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  align-content: center;
}

.about__text {
  grid-area: paragraph;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.about__text-paragraph {
  padding-bottom: 25px;
}

.footer {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

.footer_address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  line-height: 120%;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 25%;
  text-decoration-thickness: 5%;
  line-height: 120%;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.social-media-icon {
  width: 48px;
}
